<!-- Display all data returned if any //-->
<div *ngFor="let mediaItems of outputData.Result; let i = index;">
  <div class="cardStyle position-relative border mb-2 rounded overflow-hidden">
    <!-- Display the overlay only when a button is pressed //-->
    <div class="wrapperLoaderRowStyle position-absolute w-100 h-100 opacity-25" *ngIf="mediaItems.isPressedButton">
    </div>
    <!-- Display the loader on top of the overlay only when a button is pressed //-->
    <app-loader class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center" *ngIf="mediaItems.isPressedButton"></app-loader>
    <div class = "p-2">
      <div class="cardTitle mb-2 fw-bold text-break">
        <!-- Title long value //-->
        {{ mediaItems.titlelong }}
      </div>
      <div class="cardName mb-2 fw-bold text-break">
        <!-- Title short value //-->
        {{ mediaItems.titleshort }}
      </div>
      <div class="pb-2">
        <mat-form-field class="rounded" appearance="outline">
          <mat-label>Title Short</mat-label>
          <input matInput required id="titleshort" [formControl]="titleshortForm" name="titleshort" placeholder="Title Short" #titleshort />
          <button mat-button *ngIf="titleshortForm.value" matSuffix mat-icon-button aria-label="Clear" (click)="titleshortForm.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="titleshortForm.invalid" class="rounded text-center">
            <div class="p-1">
              {{ getInputErrorMessage(titleshortForm) }}
	      <!-- Add font awesome icon to the page //-->
              <fa-icon class="faIconStyle" [icon]="['fas', 'exclamation-triangle']" [fixedWidth]="true">
              </fa-icon>
            </div>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="cardDate mb-2 fw-bold text-break">
        <!-- Publish date value //-->
        {{ mediaItems.publishdate }}
      </div>
      <div class="cardStatus mb-2 fw-bold text-break">
        <!-- Action status value //-->
        {{ mediaItems.actionstatus }}
      </div>
      <div class="d-flex flex-wrap justify-content-evenly">
        <div>
          <button mat-flat-button id="edit" [disabled]="titleshortForm.invalid || mediaItems.buttonUpdateIsLoading" class="editButton text-decoration-none rounded p-2" (click)="handleAlterationPut(mediaItems.titlelong, titleshort.value, mediaItems.publishdate, mediaItems.actionstatus, i, mediaItems, 'Edit')">
            <!-- Add font awesome icon to the page //-->
            <fa-icon class="faIconStyle" [icon]="['fas', 'edit']" [fixedWidth]="true">
            </fa-icon>
            Update
            <!-- Add font awesome icon to the page if a certain criteria is met //-->
            <fa-icon class="faIconStyle" [icon]="['fas', 'spinner']" [spin]="true" [fixedWidth]="true" *ngIf="mediaItems.buttonUpdateIsLoading">
            </fa-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- Look at the code below to see if it still fits with Status "Error" instead of "Success"//-->
    <div class="p-2">
      <!-- Check if media status is set, if so continue to display the data on the page, else do not display anything //-->
      <div *ngIf="mediaItems.statusResponse && mediaItems.displayValue">
        <!-- Check if status returned success, if so continue to display the data on the page, else go to else block of code and display what returned //-->
        <div *ngIf="mediaItems.statusResponse !== 'Success'">
          <div class="cardStyle position-relative border mb-2 rounded overflow-hidden">
            <div class="p-2 text-center">
              <div class="errorTitle">
                <!-- Add font awesome icon to the page //-->
                <fa-icon class="faIconStyle" [icon]="['fas', 'exclamation-triangle']" [fixedWidth]="true">
                </fa-icon>
              </div>
              <div class="errorStatus">
                <!-- Status value //-->
                Status: {{ mediaItems.statusResponse }}
              </div>
              <div class="errorStatusMessage">
                <!-- Message value //-->
                Message: {{ mediaItems.messageResponse }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Check to see if OK is true as the API returned a hard error with a message //-->
      <div *ngIf="mediaItems.okValue">
        <div class="cardStyle position-relative border mb-2 rounded overflow-hidden">
          <div class="p-2 text-center">
            <div class="errorTitle">
              <!-- Add font awesome icon to the page //-->
              <fa-icon class="faIconStyle" [icon]="['fas', 'exclamation-triangle']" [fixedWidth]="true">
              </fa-icon>
            </div>
            <div class="errorStatus">
              <!-- Status value //-->
              Status Code: {{ mediaItems.statusValue }}
            </div>
            <div class="errorStatusMessage">
              <!-- Message value //-->
              Status Message: {{ mediaItems.messageValue }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
