// Edit button style
.editButton {
  background-color: #A855F7 !important;
  color: #FFFFFF !important;
  border: none;
  width: 17em;
}

// Additional mat form field style
mat-form-field.mat-mdc-form-field {
  background-color: #364051 !important;
}