// Header container style
.headerContainer {
  background-color: #2562EB;
  color: #000000;
  height: 1.5em; // Pre-define height
  line-height: 1.5em; // Pre-define line height for Firefox fix
}

// Home page URL style
.brandLink {
  color: #000000;
}
