<header>
  <div class="headerContainer d-flex align-items-center justify-content-between fw-bold fs-5 px-2">
    <div class="d-flex justify-content-start">
      <!-- Add a router link to navigate to a specific site //-->
      <a routerLink="" class="brandLink text-decoration-none">
        TV Feeds
      </a>
    </div>
    <div class="d-flex justify-content-end">
      <!-- Set up the button for off canvas to be displayed //-->
      <span class="d-flex justify-content-center align-items-center" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdropMenu" aria-controls="offcanvasWithBackdropMenu">
        <mat-icon>menu</mat-icon>
      </span>
    </div>
  </div>
</header>
<!-- Display the navigation menu component //-->
<app-navigation-menu></app-navigation-menu>