// Error Page Title Style
.pageNotFoundTitle {
  font-size: 1.6em;
}

// Error Page Title Style
.pageNotFoundBody {
  font-size: 1.4em;
}

// Error Actions Style
.pageNotFoundActionButton {
  background-color: #6B7280;
  color: #FEF2C6;
  font-size: 1.2em;
}
