<div class="pageStyle text-center p-2">
  <div class="displayContainer">
    <div class="pageTitleContainer pb-2 pt-2">
      <div class="pageNotFoundTitle mb-2">
        404 Page Not Found
      </div>
      <div class="pageNotFoundBody mb-2">
        Oops! The requested page was not found.
      </div>
      <div>
        <!-- Add a router link to navigate to a specific site //-->
        <a routerLink="" class="text-decoration-none">
          <button mat-flat-button id="gohome" class="pageNotFoundActionButton text-decoration-none rounded">
            Go to homepage
          </button>
        </a>
      </div>
    </div>
    <div class="p-2">
    </div>
  </div>
</div>
