// View button Style
.viewButton {
  background-color: #3B82F6;
  color: #FFFFFF;
  border: none;
  width: 17em;
}

// Retain button Style
.retainButton {
  background-color: #EAB308;
  color: #FFFFFF;
  border: none;
  width: 17em;
}

// Ignore button Style
.ignoreButton {
  background-color: #22C55E;
  color: #FFFFFF;
  border: none;
  width: 17em;
}

// Delete button Style
.deleteButton {
  background-color: #EF4444;
  color: #FFFFFF;
  border: none;
  width: 17em;
}
