// Footer Style
.footerStyle {
  background-color: #1F2937 !important;
  color: #818BF7 !important;
  height: 2.5em; // Set the fixed height of the footer 2.5em <=> 30px
  // line-height: 1.1em; // Vertically center the text
  font-size: 1em;
  position: absolute;
  bottom: 0;
}