// Re-size the off canvas windows
.offcanvas-resize {
  // Make the width of the window 80% at all times
  width: 80%;
}

// Router Active Link with inner anchor style
.activeLink>a {
  color: #3C3C3C;
}

// Navigation Menu Style
.navMenu {
  background-color: #037756;
}

// Navigation Menu Title Style
.navMenuTitle {
  color: #000000;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

// Order and Un-order Style
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Anchor Style
a {
  color: #302d81;
  width: 100%;
}

// List Style Top Border Style
.listNavMenuTop {
  border-top: 0.1em #FEF2C6 solid;
  font-size: 1em;
  font-weight: bold;
}

// List Style Bottom Border Style
.listNavMenuBottom {
  border-bottom: 0.1em #FEF2C6 solid;
  font-size: 1em;
  font-weight: bold;
}
